node_modules
demo-BigDataBench/code/wordcount.yaml
__pycache__
# local_storage
.env
*.egg-info
.local

# e2e-2024-03/Runtime
text.txt
kn_func.yaml
local_storage
!demo-chatbot/code/local_storage/
tmp

venv
.spilot.yaml
Redis
serverless-framework
*.yaml
*.dockerfile
